*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
}
.nv{
    background: rgb(126, 84, 84);
    border-bottom: 5px solid red;
}
.imagen{
    padding: 20px 20px;
}
.lista{
    list-style: none;
    float: right;
    padding: 40px 20px;
}
.lit{
    display: inline;
    float: right;

}
.lit a{
    text-decoration: none;
    color: black;
    font-size: large;
    
}
